@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #facf42, #fda085);
  font-family: 'poppins', sans-serif;
  min-height: 100vh;
}

.cats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 2rem;
  font-size: 5em;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: #ff6f47;
}
.text {
  background-color: white;
  border: 2px solid #ff6f47;
  color: #c65434;
  border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
  width: 60vw;
  margin: 0.8rem;
}
.text::first-letter {
  text-transform: capitalize;
}
img {
  width: 70vw;
}
